.app{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/public/project.png');
    background-size: cover;
    background-position: center;
}